.message_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  background-color: transparent;
  padding: 1.5rem;
  gap: 1.5rem;
  scroll-behavior: smooth;
}

.chat_bubble {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  gap: 1rem;
}

.question_bubble {
  align-self: flex-end;
  max-width: 70%;
  background-color: var(--color-accent);
  color: var(--color-text-inverse);
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem 1.2rem 0 1.2rem;
  font-size: 0.95rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.answer_bubble {
  align-self: flex-start;
  width: 100%;
  /* background-color: var(--color-fg); */
  color: var(--text-text-primary);
  padding: 1rem 1.5rem;
  border-radius: 0 1.2rem 1.2rem 1.2rem;
  border: 1px solid var(--color-text-muted);
  line-height: 1.6;
}

.answer_bubble p {
  margin-bottom: 1rem;
}
.answer_bubble code {
  background: #eee;
  padding: 0.2rem;
  border-radius: 4px;
}

.citation_wrapper {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
  flex-wrap: wrap;
}

.citation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 123, 255, 0.1);
  color: #007bff;
  padding: 4px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.citation:hover {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transform: scale(1.1);
}

.citation svg {
  font-size: 1.2rem;
}
