.formModal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.formContainer {
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  background-color: var(--color-surface-1) !important;
  border-radius: 1rem;
}

.formInner {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.fileDropzone {
  border: 2px dashed var(--border-subtle);
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
}

.hiddenInput {
  display: none;
}

.fileLabel {
  cursor: pointer;
  color: var(--text-muted);
}

.formContainer h6 {
  color: var(--color-text-primary);
}
.formContainer button {
  color: var(--color-text-primary);
}
