.navbar_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
}
.settings {
  display: flex;
  gap: 1rem;
  position: relative;
  width: 100%;
}
.themes {
  position: absolute;
  /* width: 100px; */
  left: -100;
  background-color: rgb(255, 0, 0);
  border-radius: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.theme {
  display: flex;
  gap: 1rem;
}
