.navbarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vh;
  justify-content: space-between;
  padding: 0 1.5rem;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border-subtle);
  position: sticky;
  top: 0;
  z-index: 100;
}

.settingsWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconIdle {
  transition: transform 0.3s ease;
}
.iconActive {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.themesDropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  width: 140px;
  background-color: var(--color-bg);
  border: 1px solid var(--border-subtle);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.themeItem {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-fg);
  transition: background 0.2s ease;
  cursor: pointer;
}

.themeItem:hover {
  background-color: var(--surface-secondary);
}

.activeOption {
  color: #0070f3;
  background-color: var(--surface-secondary);
}

.breadcrumbItem {
  cursor: pointer;
}
.breadcrumbItem:hover {
  color: var(--color-accent);
}
