/* .chat_container { */
/* display: flex; */
/* flex-direction: row; */
/* height: 100%; */
/* } */
.chat_upload_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}
.chat_upload_container_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 209, 255);
  height: 200px;
  border-radius: 1rem;
  padding: 1rem;
  width: 400px;
}
.chat_input_container {
  width: 96vw;
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 3rem;
}
.chat_input_container input {
  width: 100%;
  padding: 1rem 2rem;
}
.chat_input_button {
  border-radius: 100%;

  /* transform: rotate(300deg); */
}
