.mainLayout {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: calc(100vh - 6vh);
  padding: 1rem;
  background-color: var(--background);
  overflow: hidden;
}

.heroSection {
  display: flex;
  align-items: center;
  width: 70vw;
}

.contentSection {
  text-align: left;
}

.sessionCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--surface-primary);
  border: 1px solid var(--border-subtle);
  cursor: pointer;
  overflow-y: scroll;
  transition: transform 0.2s;
}

.sessionCard:hover {
  /* transform: translateY(-2px); */
  background-color: var(--color-accent-hover);
  border-color: var(--foreground);
}

.formModal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  backdrop-filter: blur(4px);
}

.formContainer {
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  background-color: var(--color-surface-1) !important;
  border-radius: 1rem;
}

.formInner {
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.fileDropzone {
  border: 2px dashed var(--border-subtle);
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
}

.hiddenInput {
  display: none;
}

.fileLabel {
  cursor: pointer;
  color: var(--text-muted);
}

.formContainer h6 {
  color: var(--color-text-primary);
}
.formContainer button {
  color: var(--color-text-primary);
}
