.chat_container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 6vh);
}
.chat_document {
  width: 50vw;
  height: inherit;
  border-right: 2px solid red;
}
.chat_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.chat_upload_container {
  height: 100%;
  display: flex;
}
.chat_upload_container_content {
  display: flex;
  flex-direction: column;

  background-color: rgb(209, 209, 255);
  height: 200px;
  border-radius: 1rem;
  padding: 1rem;
  width: 400px;
}
/* chat message */
.message_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
}

.chat_bubble {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
.question_bubble {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  background-color: rgb(99, 144, 250);
  padding: 1rem;
  border-radius: 2rem;
}

.answer_bubble {
  align-items: flex-start;
  align-self: flex-start;
  justify-content: flex-start;
  background-color: rgba(179, 179, 179, 0.395);
  padding: 1rem;
  border-radius: 2rem;
}
.citation {
  padding: 0 0.5rem 0 0;
}
.citation:hover {
  cursor: pointer;
  color: blue;
}

/* chat input  */
.chat_input_container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 3rem;
}
.chat_input_container input {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem 2rem;
}
.chat_input_button {
  border-radius: 100%;
}
