.chat_container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 6vh);
  width: 100%;
  overflow: hidden;
}
.chat_document {
  width: 50vw;
  height: 100%;
}
.chat_content {
  height: calc(100vh - 6vh);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
}
